<!--<div class="container justify-content-center">-->
<!--  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">-->
<!--    <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>-->
<!--    <div class="form-group">-->
<!--      <label for="inputUsername" class="sr-only">Username</label>-->
<!--      <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Username" required="" autofocus="">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="inputEmail" class="sr-only">Email</label>-->
<!--      <input type="text" id="inputEmail" [formControlName]="'email'"class="form-control" placeholder="Email" required="" autofocus="">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="inputPassword" class="sr-only">Password</label>-->
<!--      <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Password" required="">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="inputConfirmPassword" class="sr-only">Password</label>-->
<!--      <input type="password" id="inputConfirmPassword" [formControlName]="'confirmPassword'" class="form-control" placeholder="Confirm Password" required="">-->
<!--    </div>-->
<!--    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>-->
<!--  </form>-->
<!--</div>-->









<!--<div class="container" style="width: 30%">-->
<!--  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>-->
<!--    <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>-->
<!--    <div class="form-group">-->
<!--      <label for="inputUsername" class="sr-only">Username</label>-->
<!--      <input type="text" id="inputUsername" [formControlName]="'username'" class="form-control" placeholder="Username" required="" autofocus="">-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="inputPassword" class="sr-only">Password</label>-->
<!--      <input type="password" id="inputPassword" [formControlName]="'password'" class="form-control" placeholder="Password" required="">-->
<!--    </div>-->
<!--    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
<!--  </form>-->
<!--</div>-->









<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first mb-3 mt-3">
      <img src="favicon.ico"/> SPRING
    </div>

    <!-- Login Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" name="myForm" >
      <input type="text" id="login" class="fadeIn second" name="login1" placeholder="Username" [formControlName]="'username'">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Email" [formControlName]="'email'">
      <input type="password" id="abc" class="fadeIn third" name="login" placeholder="Password" [formControlName]="'password'">
      <input type="password" class="fadeIn fifth" name="login" placeholder="Confirm Passowrrd" [formControlName]="'confirmPassword'">
      <input type="submit" class="fadeIn sixth" value="Sign Up">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
